@{
    ViewBag.Title = "Contract Relationships";
    Layout = "~/Views/Shared/_Layout_Settings.cshtml";
}

<table class="width95_a">
    <tr>
        <td class="pageheading font-normal">Contract Relationships</td>
        <td class="pageheading" align="right"><input id="btnAddNewRelationship" type="submit" value="Add New" class="f_button_green_small" /></td>
    </tr>
    <tr>
        <td colspan="2" style="padding-top:5px;">
            <div id="page-wrap">
                <div class="inserch1" style=" padding-left: 20px;margin-top: 1px; margin-bottom: 4px;">
                    <input id="txtSearchBox" placeholder="Search" type="text" />
                    <a href="javascript:void(0);"><img src="/Content/Images/search1.png" onclick="search()" /></a>
                </div>
                <div class="selectFIlterItem margin-left-m20">
                    <div id="liFiltersSearchText">

                    </div>
                    <div id="liFiltersStatus">

                    </div>
                    <div id="liFiltersType">

                    </div>
                </div>

                <div class="fields-table">

                    <div class="table-sec">
                        <table cellpadding="0" cellspacing="0" border="0" class="paginated width100">
                            <thead>
                                <tr>
                                    <th id="footleft" class="font-normal">
                                        Relationship Type
                                        <a class=" search-btn" id="trigger" href="javascript:void(0);">
                                            <span><img src="../Content/Images/down_arrow.png" alt="" title=""></span>
                                        </a>
                                        <div class="search-sec" id="drop" style="display:none;">
                                            <div class=" sort_arrow"><a href="javascript:void(0)" onclick="TableSort('asc');"><img src="../Content/Images/sort_az.png" width="18" height="18"> Sort A to Z</a></div> <div class="sort_arrow"><a href="javascript:void(0)" onclick="    TableSort('desc');"><img src="../Content/Images/sort_za.png" width="18" height="18"> Sort Z to A</a></div>
                                        </div>
                                    </th>
                                    <th class="font-normal">Relationship 1</th>
                                    <th class="font-normal">Relationship 2</th>
                                    <th class="font-normal">Actions</th>
                                </tr>
                            </thead>
                            <tbody id="relationshiptable"></tbody>

                        </table>
                    </div>

                </div>
            </div>
            <div class="pagination-holder clearfix">
                <article id="compact-pagination"></article>
            </div>
        </td>
    </tr>
</table>


<!-- Right Click Menu -->
<ul id="myMenu" class="contextMenu">
    <li class="edit"><a href="#edit">Edit</a></li>
    <li class="delete"><a href="#delete">Delete</a></li>
</ul>


<div id="AddEditRelationship" style="display:none;">
    <div id="dvPopupHeading" class="modalheader"><span></span></div>
    <div class="modalbody">
        <div id="addNewEntityFields">
            <table cellpadding="2" cellspacing="2" class="width100">
                <tr>
                    <td class="f_head"></td>
                    <td class="labelleft"><input id="txtRelationshipID" name="RelationshipID" type="hidden" /></td>
                </tr>
                <tr>
                    <td class="f_head">Relationship Type <small class="required">*</small></td>
                    <td class="labelleft" style="width: 63%;">
                        <input id="txtRelationshipType" name="RelationshipType" type="text" maxlength="50" onchange="ReplaceSpecialCharacters(this);" class="f_inpt width90 validelement ConRel" />
                    </td>
                </tr>
                <tr>
                    <td class="f_head">Relationship 1 <small class="required">*</small></td>
                    <td class="labelleft"><input id="txtRelationship1" name="Relationship1" maxlength="50" type="text" onchange="ReplaceSpecialCharacters(this);" class="f_inpt width90 validelement" /></td>
                </tr>
                <tr>
                    <td class="f_head">Relationship 2</td>
                    <td class="labelleft">
                        <div id="frmRelationshipContract" class="width100">
                            <table id="tblRelationshipAdd" class="width100">
                                <tr id="trRelationshipAdd1">
                                    <td>
                                        <input id="txtRelationship2" name="Relationship2" maxlength="50" type="text" onchange="ReplaceSpecialCharacters(this);" class="f_inpt width90" />
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <span class='right-float'><a href='javascript:void(0)' class="addmorelinks" onclick='AddRelationshipContract()'>Add More</a></span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/Contract365/Settings_ContractRelationships.js?" + DateTime.Now.GetHashCode())
}