@{
    ViewBag.Title = "Counterparty Contacts";
    Layout = "~/Views/Shared/_Layout_Settings.cshtml";
}


<table class="width95_a">
    <tr>
        <td class="pageheading" id="CounterpartyName">Counterparty Contacts&nbsp;<img src="~/Content/Images/help_training.png" alt="A centrally organized repository to store and manage all contacts associated with the counterparty." title="Manage Counterparty Contact information." /></td>
        <td class="pageheading sub1" align="right">
            <div class="cbp-hrmenu cbp-hrmenu5 sub3 ">
                <input id="btnAddSingle" type="button" value="Add Contact" class="f_button_green_small" onclick="ContactPopup()" />
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <div class="my-Alerts_Act1" style="padding-bottom:5px !important">
                <div class="inserch1">
                    <input id="txtSearchBox" placeholder="Search" type="text" />
                    <a href="javascript:void(0);"><img src="/Content/Images/search1.png" onclick="BindCounterpartyContact()" /></a>
                </div>
                <div class="selectFIlterItem margin-left-m20">
                    <div id="liFiltersSearchText">

                    </div>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td colspan="2">

            <div id="page-wrap" class="f_list">
                <table class="width100">
                    <tbody id="listContacts"></tbody>
                </table>
            </div>
            <div class="pagination-holder clearfix">
                <article id="compact-pagination"></article>
            </div>
        </td>
    </tr>
</table>

<!-- Right Click Menu -->
<ul id="myMenu" class="contextMenu">
    <li class="edit "><a href="#edit">Edit</a></li>
    <li class="delete "><a href="#delete">Delete</a></li>
</ul>

<div id="addEditContact" style="display:none;">
    <div id="dvPopupHeadingContact" class="modalheader"><span></span></div>
    <div class="modalbody">
        <div id="addNewContactFields">


            <ul class="poPup_Form_Field">

                <li>
                    <p></p>
                    <div>
                        <input id="txtContactID" name="ContactID" type="hidden" />
                    </div>
                </li>
                <li>
                    <p><b>Counterparty</b><small>*</small><img src="/Content/Images/input-help.png" /></p>
                    <div>
                        <span id="spnCounterpartyName" title="Counterparty Name" style="display:none;" class="title"></span>

                        <select id="ddlCounterparty" name="Counterparty" title="Counterparty" class="validelement">
                            <option value="0">--Select--</option>
                        </select>
                    </div>
                </li>
                <li>
                    <p>
                        <b>
                            Internal or External
                        </b>
                        <small>*</small>
                    </p>
                    <div>
                        <input type="radio" checked style="width: 10% !important;height: 13px !important;float: none !important;" name="InternalOrExternal" value="External">External<input type="radio" style="width: 10%;height: 13px !important;float: none !important;" name="InternalOrExternal" value="Internal">Internal
                    </div>

                </li>
                <li class="InContact" id="InternalUser" style="display:none;">
                    <p>
                        <b>Internal User</b><small style="color: red;display: inline;">&nbsp;*</small>
                    </p>
                    <div>
                        <select id="ddlInternalUser"></select>
                    </div>
                </li>
                <li class="ExContact" style="display:none;">
                    <p><b>Contact Name</b><small>*</small><img src="/Content/Images/input-help.png" /></p>
                    <div>
                        <input id="txtContactName" name="ContactName" maxlength="100" type="text" title="Contact Name" onchange="ReplaceSpecialCharacters(this);" class="validelement validtitle" />
                    </div>
                </li>



                <li class="ExContact" style="display:none;">
                    <p><b>Role</b></p>
                    <div>
                        <input id="txtRole" maxlength="50" name="Role" type="text" title="Role" />
                    </div>
                </li>

                <li class="ExContact" style="display:none;">
                    <p><b>Address</b></p>
                    <div>
                        <input id="txtAddressLine1C" maxlength="100" name="AddressLine1" type="text" />
                    </div>
                </li>

                <li class="ExContact" style="display:none;">
                    <p><b></b></p>
                    <div>
                        <input id="txtAddressLine2C" maxlength="100" name="AddressLine2" type="text" />
                    </div>
                </li>

                <li class="ExContact" style="display:none;">
                    <p><b>City</b></p>
                    <div>
                        <input id="txtCityC" maxlength="50" name="City" type="text" />
                    </div>
                </li>

                <li class="ExContact" style="display:none;">
                    <p><b>State</b></p>
                    <div>
                        <input id="txtStateC" maxlength="50" name="State" type="text" />
                    </div>
                </li>

                <li class="ExContact" style="display:none;">
                    <p><b>Country</b></p>
                    <div>
                        <select id="ddlCountryC" name="Country">
                            <option value="0">--Select--</option>
                        </select>
                    </div>
                </li>

                <li class="ExContact" style="display:none;">
                    <p><b>Zip/Postal Code</b></p>
                    <div>
                        <input id="txtZipC" maxlength="20" name="Zip" type="text" />
                    </div>
                </li>

                <li class="ExContact" style="display:none;">
                    <p><b>Phone</b></p>
                    <div>
                        <input id="txtContactNoC" maxlength="50" name="ContactNo" type="text" title="Contact Number" />
                    </div>
                </li>

                <li class="ExContact" style="display:none;">
                    <p><b>Email ID</b></p>
                    <div>
                        <input id="txtEmailIDC" maxlength="50" name="EmailID" type="text" title="Email ID" class="validemail" />
                    </div>
                </li>

            </ul>

        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/jquery.validate.js"></script>
    @Scripts.Render("~/Scripts/Contract365/Settings_CounterpartyContacts.js?" + DateTime.Now.GetHashCode())
}