<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="1500000" />
    <!--<add key="AuthURL" value="contracts24demo.azurewebsites.net" />
    <add key="SiteUrl" value="https://contracts24demo.azurewebsites.net" />
    <add key="StorageKey" value="v0YbY9+7XTqGa/oehbpYpAEV+7gUaDhML+FnV0MA2OwI1sbBeqX6r19ZP6x34dxWLPwbvdGdEMqZyx01TNBrOg==" />
    <add key="StorageDomain" value="core.windows.net" />
    <add key="StorageName" value="contracts24demo" />
    <add key="ADDomainName" value="corevo.onmicrosoft.com" />
    <add key="ADDomainId" value="61a917b0-b24c-4e67-a58c-2108b8c3a024" />
    <add key="ADApplicationId" value="67a355e6-46a1-4a8c-8366-319f8b562a0d" />
    <add key="ADApplicationPwd" value="W/PqNALwDXdnQg5RHU2t1MQV/v3OgUOk50SLFjER1/8=" />
    <add key="SendGridServer" value="smtp.sendgrid.net" />
    <add key="SendGridKey" value="azure_561c1375ce597acf3707f060f83988ff@azure.com" />
    <add key="SendGridPwd" value="123456a$" />
    <add key="ClientId" value="d6285f08-f903-415b-91a2-f3502845cc54" />
    <add key="ClientSecret" value="EbRzjcDqzxlqF+wVys1ryy1lVKLgV0Bq2o/WrbLSNB0=" />
    <add key="ApiBaseSiteUrl" value="https://localhost:44317" />-->
    <!--<add key="AuthURL" value="contracts365security.azurewebsites.net" />
    <add key="SiteUrl" value="https://contracts365security.azurewebsites.net" />
    <add key="StorageKey" value="zMlVMeZcf9XzyalTkDgqvACbeTFXACVHsht/6bWVooXZSQISBhnDsNV4p6C6+ackpra7pa6z09nvIOdp67uXBA==" />
    <add key="StorageDomain" value="core.windows.net" />
    <add key="StorageName" value="contracts365security" />
    <add key="ADDomainName" value="corevo.onmicrosoft.com" />
    <add key="ADDomainId" value="61a917b0-b24c-4e67-a58c-2108b8c3a024" />
    <add key="ADApplicationId" value="67a355e6-46a1-4a8c-8366-319f8b562a0d" />
    <add key="ADApplicationPwd" value="W/PqNALwDXdnQg5RHU2t1MQV/v3OgUOk50SLFjER1/8=" />
    <add key="SendGridServer" value="smtp.sendgrid.net" />
    <add key="SendGridKey" value="azure_561c1375ce597acf3707f060f83988ff@azure.com" />
    <add key="SendGridPwd" value="123456a$" />
    <add key="ClientId" value="287ceea6-6c04-475e-9789-7f7834061f72" />
    <add key="ClientSecret" value="rrCR4mMeAg3L2hc26NOPbFQWwl0/cKLZvk1x4n2VrsE=" />
    <add key="ApiBaseSiteUrl" value="https://contracts365securityapi.azurewebsites.net"/>-->
    <add key="AuthURL" value="contract-management-qa.cat.com" />
    <add key="SiteUrl" value="https://contract-management-qa.cat.com" />
    <add key="StorageKey" value="2JlCb6LH8g3vSvYW4SqyzUfWHrISa5TqzRW5jsCITOoULv/vX+NvxY4c+avfd3PtjvBt5gw7/CDVAAQunAzDBQ==" />
    <add key="StorageDomain" value="core.windows.net" />
    <add key="StorageName" value="contractlifecyclediagqa" />
    <add key="ADDomainName" value="" />
    <add key="ADDomainId" value="" />
    <add key="ADApplicationId" value="" />
    <add key="ADApplicationPwd" value="" />
    <add key="SendGridServer" value="" />
    <add key="SendGridKey" value="" />
    <add key="SendGridPwd" value="" />
    <add key="ClientId" value="5e2ee489-5fed-4394-bb7c-5ead7a32bd41" />
    <add key="ClientSecret" value="TrYgaLaoitlTOf5LB0sL3B6DGfzopHOruihhJRAO81Q=" />
    <add key="ApiBaseSiteUrl" value="https://contractlifecycleapiqa.azurewebsites.net"/>
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5.2" />
      </system.Web>
  -->
  <system.web>
    <compilation targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5" maxRequestLength="2073741824" executionTimeout="7200" requestPathInvalidCharacters=":,\,?" enableVersionHeader="false"/>
    <httpCookies httpOnlyCookies="true" requireSSL="true"/>
    <!--<customErrors mode="On" defaultRedirect="Error">
      <error redirect="Error/PageNotFound" statusCode="404" />
      <error redirect="Error/UnauthorizedAccess" statusCode="403" />
      <error redirect="Error/NoAccess" statusCode="500" />
    </customErrors>-->
    <customErrors mode="Off"/>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.ServiceRuntime" publicKeyToken="31BF3856AD364E35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.0" newVersion="2.7.0.0"/>
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="System.Spatial" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31BF3856AD364E35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="EB42632606E9261F" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.4.0.0" newVersion="8.4.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ServiceModel" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.Serialization" publicKeyToken="b77a5c561934e089" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.Search" publicKeyToken="71e9bce111e9429c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-16.1.3912.1204" newVersion="16.1.3912.1204"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.Runtime" publicKeyToken="71e9bce111e9429c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-16.1.3912.1204" newVersion="16.1.3912.1204"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client" publicKeyToken="71e9bce111e9429c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-16.1.3912.1204" newVersion="16.1.3912.1204"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SharePoint.Client.Taxonomy" publicKeyToken="71e9bce111e9429c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-16.1.3912.1204" newVersion="16.1.3912.1204"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.8.0.0" newVersion="1.8.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.ServiceRuntime" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.7.0.0" newVersion="2.7.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="secureBinding">
          <security mode="Transport"/>
        </binding>
        <binding name="DSAPIServiceSoap" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:30:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="Transport">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <binding name="DSAPIServiceSoap1" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:30:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
            <message clientCredentialType="UserName" algorithmSuite="Default"/>
          </security>
        </binding>
        <!--Used by app for SharePoint-->
        <binding name="secureBinding1">
          <security mode="Transport"/>
        </binding>
        <!--Used by app for SharePoint-->
        <binding name="secureBinding2">
          <security mode="Transport"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://demo.docusign.net/api/3.0/dsapi.asmx" binding="basicHttpBinding" bindingConfiguration="DSAPIServiceSoap" contract="DocuSignDemo.DSAPIServiceSoap" name="DSAPIServiceSoap"/>
    </client>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding2"/>
    </protocolMapping>
  </system.serviceModel>
  <system.webServer>
    <!--<httpErrors defaultPath="Error"></httpErrors>-->
    <!--<httpErrors errorMode="Custom" existingResponse="Replace">
      <clear />
    </httpErrors>-->
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>
    <httpProtocol>
      <customHeaders>
        <!-- Gets rid of the other unwanted headers -->
        <!--<add name="X-Frame-Options" value="SAMEORIGIN" />-->
        <!--OWSAP Start-->
        <!--<add name="X-Frame-Options" value="allow-from https://corevo.sharepoint.com/sites/Contract365/2.4Demo"/>-->
        <!-- allow-from https://example.com/ -->
        <add name="Strict-Transport-Security" value="max-age=31536000"/>
        <!--<add name="Referrer-Policy" value="strict-origin"/>-->
        <!--OWSAP End-->
        <add name="X-Xss-Protection" value="1; mode=block"/>
        <add name="X-Content-Type-Options" value="nosniff"/>
        <remove name="Server"/>
        <remove name="X-Powered-By"/>
      </customHeaders>
    </httpProtocol>
    <modules>
      <add name="CustomHeaderModule" type="Corevo.eContracts365.SPWeb.CustomHeaderModule"/>
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="2073741824"/>
      </requestFiltering>
    </security>
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb"/>
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
</configuration>
<!--ProjectGuid: E2F0F474-03F0-4337-8F76-20C7285C5BBB-->