@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>


<ul class="f_list" style="width:50%">
    <li>
        <label class="f_small_heading f_left">UserID </label>
        <input id="TextUserID" name="" type="text" class="f_textinput" placeholder="UserID " />
    </li>
    <li>
        <label class="f_small_heading f_left">OEmail </label>
        <input id="TextOEmail" name="" type="text" class="f_textinput" placeholder="OEmail " />
    </li>
    <li>
        <label class="f_small_heading f_left">UserName </label>
        <input id="TextUserName" name="" type="text" class="f_textinput" placeholder="UserName " />
    </li>
    <li>
        <label class="f_small_heading f_left">UserTitle </label>
        <input id="TextUserTitle" name="" type="text" class="f_textinput" placeholder="UserTitle " />
    </li>

</ul>
<div class="f_foot">
    <input type="button" value="Ok" class="f_button" id="btnChange" />
</div>




@section Scripts {
    
<script src="~/Scripts/Contract365/Home_Contact.js" type="text/javascript"></script>

<script type="text/javascript">
    $('#btnChange').click(function () {
        localStorage.setItem("UserID", $("#TextUserID").val());
        localStorage.setItem("OEmail", $("#TextOEmail").val());
        localStorage.setItem("UserName", $("#TextUserName").val());
        localStorage.setItem("UserTitle", $("#TextUserTitle").val());
        localStorage.setItem("LoginTime", new Date());
        //$.post("/Settings/SetSession", { accountID: localStorage.AccountID, SPHostUrl: localStorage.SPHostUrl, userName: localStorage.UserName, APIKey: localStorage.APIKey, oEmail: localStorage.OEmail, userTitle: localStorage.UserTitle, userID: localStorage.UserID }, function (sucess) {
        //});
        $.ajax({
            url: '/Settings/SetSession',
            type: 'POST',
            dataType: 'json',
            headers: {
                'AntiReqVerificationToken': $("#forgeryToken").val(), 'eContracts-RestrictionHeader': localStorage.RestrictHighSecurityTagging
            },
            data: {
                AccountID: localStorage.AccountID,
                SPHostUrl: localStorage.SPHostUrl,
                UserName: localStorage.UserName,
                APIKey: localStorage.APIKey,
                OEmail: localStorage.OEmail,
                UserTitle: localStorage.UserTitle,
                UserID: localStorage.UserID
            },
            cache: false,
            success: function (person) {

            }
        });
        //$.post('/Settings/SetSession', { accountID: localStorage.AccountID, SPHostUrl: localStorage.SPHostUrl, userName: localStorage.UserName, APIKey: localStorage.APIKey, oEmail: localStorage.OEmail, userTitle: localStorage.UserTitle, userID: localStorage.UserID });
      //  alert('success');
        swal("", "success");
        //$.ajax({
        //    url: '/Settings/SetSession',
        //    type: 'PUT',
        //    dataType: 'json',
        //    data: {
        //        accountID: localStorage.AccountID,
        //        SPHostUrl: localStorage.SPHostUrl,
        //        userName: localStorage.UserName,
        //        APIKey: localStorage.APIKey,
        //        oEmail: localStorage.OEmail,
        //        userTitle: localStorage.UserTitle,
        //        userID: localStorage.UserID
        //    },
        //    cache: false,
        //    success: function (status) {
        //        location = location;
        //    },
        //    error: function (status) {
        //        location = location;
        //    }
        //});

    });


</script>
}