
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_Error.cshtml";
}
<div class="container">
    <div class="jumbotron">
        <h2>ErrorIndex!</h2>
        <p>Something went wrong.</p>
        <p>@ViewBag.ErrorMessage</p>
    </div>
</div>

