ul.jqtree-tree {
  list-style: none outside;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0; }
  ul.jqtree-tree ul.jqtree_common {
    list-style: none outside;
    margin-left: 12px;
    margin-right: 0;
    margin-bottom: 0;
    padding: 0;
    display: block; }
  ul.jqtree-tree li.jqtree-closed > ul.jqtree_common {
    display: none; }
  ul.jqtree-tree li.jqtree_common {
    clear: both;
    list-style-type: none;
	padding:3px 0;
}
  ul.jqtree-tree .jqtree-toggler {
    border-bottom: none;
    color: #333;
    text-decoration: none;
    vertical-align: middle; }
    ul.jqtree-tree .jqtree-toggler:hover {
      color: #000;
      text-decoration: none; }
    ul.jqtree-tree .jqtree-toggler.jqtree-closed {
      background-position: 0 0; }
    ul.jqtree-tree .jqtree-toggler.jqtree-toggler-left {
      margin-right: 0.5em; font-family:arial;}
    ul.jqtree-tree .jqtree-toggler.jqtree-toggler-right {
      margin-left: 0.5em; }
ul.jqtree-tree .jqtree-element {
   cursor: pointer;
   display: inline-block;
   padding: 3px 5px 5px;
   position: relative;
}
  ul.jqtree-tree .jqtree-title {
    color: #1C4257;
    vertical-align: middle;
    margin-left: 1.5em; }
    ul.jqtree-tree .jqtree-title.jqtree-title-folder {
      margin-left: 0; }
  ul.jqtree-tree li.jqtree-folder {
    margin-bottom: 4px; }
    ul.jqtree-tree li.jqtree-folder.jqtree-closed {
      margin-bottom: 1px; }
  ul.jqtree-tree li.jqtree-ghost {
    position: relative;
    z-index: 10;
    margin-right: 10px;
    /* todo: add classes to span? */ }
    ul.jqtree-tree li.jqtree-ghost span {
      display: block; }
    ul.jqtree-tree li.jqtree-ghost span.jqtree-circle {
      border: solid 2px #0000ff;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      border-radius: 100px;
      height: 8px;
      width: 8px;
      position: absolute;
      top: -4px;
      left: -6px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    ul.jqtree-tree li.jqtree-ghost span.jqtree-line {
      background-color: #0000ff;
      height: 2px;
      padding: 0;
      position: absolute;
      top: -1px;
      left: 2px;
      width: 100%; }
    ul.jqtree-tree li.jqtree-ghost.jqtree-inside {
      margin-left: 48px; }
  ul.jqtree-tree span.jqtree-border {
    position: absolute;
    display: block;
    left: -2px;
    top: 0;
    border: solid 2px #0000ff;
    border-radius: 6px;
    margin: 0;
    box-sizing: content-box; }
  ul.jqtree-tree li.jqtree-selected > .jqtree-element,
  ul.jqtree-tree li.jqtree-selected > .jqtree-element:hover {
    background-color: #cbe4f3;
 }
	
  ul.jqtree-tree .jqtree-moving > .jqtree-element .jqtree-title {
    outline: dashed 1px #0000ff; }

ul.jqtree-tree.jqtree-rtl {
  direction: rtl; }
  ul.jqtree-tree.jqtree-rtl ul.jqtree_common {
    margin-left: 0;
    margin-right: 12px; }
  ul.jqtree-tree.jqtree-rtl .jqtree-toggler {
    margin-left: 0.5em;
    margin-right: 0; }
  ul.jqtree-tree.jqtree-rtl .jqtree-title {
    margin-left: 0;
    margin-right: 1.5em; }
    ul.jqtree-tree.jqtree-rtl .jqtree-title.jqtree-title-folder {
      margin-right: 0; }
  ul.jqtree-tree.jqtree-rtl li.jqtree-ghost {
    margin-right: 0;
    margin-left: 10px; }
    ul.jqtree-tree.jqtree-rtl li.jqtree-ghost span.jqtree-circle {
      right: -6px; }
    ul.jqtree-tree.jqtree-rtl li.jqtree-ghost span.jqtree-line {
      right: 2px; }
    ul.jqtree-tree.jqtree-rtl li.jqtree-ghost.jqtree-inside {
      margin-left: 0;
      margin-right: 48px; }
  ul.jqtree-tree.jqtree-rtl span.jqtree-border {
    right: -2px; }

span.jqtree-dragging {
  color: #fff;
  background: #000;
  opacity: 0.6;
  cursor: pointer;
  padding: 2px 8px; }

/* IE 6, 7, 8 */
@media \0screen\,screen\9  {
  ul.jqtree-tree li.jqtree-ghost span.jqtree-circle {
    background: url(jqtree-circle.png) no-repeat;
    border: 0 none; } }





li.jqtree-folder span.jqtree_common::before {
     background-image: url('../Content/Images/folder1.png');
    content: "";
    height: 14px;
    left: 23px;
    position: absolute;
    top: 6px;
    width: 16px;
}
li.jqtree-folder.jqtree-closed span.jqtree_common::before {
     background-image: url('../Content/Images/folder1.png');
    content: "";
    height: 14px;
    left: 23px;
    position: absolute;
    top: 6px;
    width: 16px;
}
ul.jqtree-tree .jqtree-title {
    color: #1c4257;
    margin-left: 43px;
    vertical-align: middle;
    font-size: 13px;
}
ul.jqtree-tree .jqtree-title.jqtree-title-folder {
    margin-left: 20px;
}


.pop-main{
	background-color: #f3f3f3;
    color: #838282;
    margin: 0 auto;
    max-height: 600px;
    overflow-x: hidden;
    width: 550px;
}
.pop-head {
    background-color: #fafafa;
    padding: 15px;
}
.pop-head-right {
    float: right;
}
.pop-head-left {
    float: left;
}
.root-folder > img {
    margin-right: 4px;
    vertical-align: top;
}
.root-folder {
    font: 22px/35px arial;
}
.action, .info {
    display: inline-block;
    margin: 7px 10px 0 0;
    vertical-align: top;
}
.sub-folder-btn > img {
    vertical-align: middle;
}
button.sub-folder-btn {
        background-color: #5bb95b;
    border: medium none;
    border-radius: 5px;
    color: #fff;
    font: 15px/20px arial;
    padding: 4px;
    top: -41px;
    right: 75px;
    position: absolute;
    cursor: pointer;
}

button.sub-Managefolder-btn {
    background-color: #4298e8;
    color: #fff;
    padding: 4px;
    cursor: pointer;
    float: right;
    margin-top: -26px!important;
    margin-left: 10px!important;
}

div#treeviewManageFolderOption ul {
    margin-top: 0;
    border: none;
}

div#treeviewManageFolderOption li {
    margin: 2px 5px;
    border: none;
}

ul,li{
	margin:0;
	padding:0;
	list-style:none;	
}
.action-value,.info-value {
    background-color: #fff;
    border: 1px solid #c3c3c3;
    margin: 0 6px;
    min-width: 200px;
    position: absolute;
	padding: 10px 0;
	z-index:1;
}
.action-value img, .info-value img {
    margin-right: 5px;
	 vertical-align: top;
}
.action-value > li{
     padding: 10px;
}
.action-value a, .info-value a{
    color: #838282;
    font-size: 15px;
    text-decoration: none;
}
.info label:first-child {
    float: left;
    min-width: 100px;
}
.info label:last-child {
    float: left;
    text-align: left;
}
.info label {
    font-size: 15px;
	padding:5px 0;
}
.info-value li {
    padding: 2px 10px;
}
.action-value > li:hover {
    background-color: #f1f1f1;
}
.input {
    -moz-appearance: textfield;
    background-color: -moz-field;
    border: 1px solid darkgray;
    display: inline-block;
    font: -moz-field;
    height: 14px;
    margin-top: -4px;
    padding: 3px 7px 6px;
    width: 35%;  
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

li.jqtree_common span.jqtree_common:before {
    background-image: url('../Content/Images/folder1.png');
    content: "";
    height: 14px;
    left: 23px;
    position: absolute;
    top: 6px;
    width: 16px;
}

jqtree-tree ul {
margin: 0;
border: none;
}